<!DOCTYPE html>
<html xmlns:th="html://www.thymeleaf.org">
<body>
<nav th:fragment="common-navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" th:text="#{navbar.brand}" />
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/" th:text="#{navbar.menu.home}" /></li>
      <li><a href="/about" th:text="#{navbar.menu.about}" /></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li th:if="${#authorization.expression('!isAuthenticated()')}">
        <a th:href="@{/login}" th:text="#{navbar.login}" />
      </li>
      <li th:if="${#authorization.expression('isAuthenticated()')}">
        <form id="f" th:action="@{/logout}" method="post" role="form" class="navbar-form">
          <button type="submit" th:text="#{navbar.logout}" class="btn btn-primary" />
        </form>
      </li>
    </ul>      
  </div>
</nav>
</body>
</html>